:root {
  --table-border: #ddd;
  --table-font-size: 0.75rem;
  --table-th-font-size: 0.85rem;
}

table {
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  border-collapse: collapse; /* Combine borders */
  font-size: var(--table-font-size);
}

th {
  font-size: var(--table-th-font-size);
}

th,
td {
  padding: 6px;
  border: 1px solid var(--table-border);
  text-align: left;
}

td > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: pre-line;
}

/* sort */

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable app-arrow {
  visibility: hidden;
  margin-left: 4px;
}

th.sortable.secondary app-arrow {
  opacity: 0.4;
}

th.sortable:hover app-arrow,
th.sortable.primary app-arrow,
th.sortable.secondary app-arrow {
  visibility: visible;
}
