<table>
  <thead>
    <tr>
      @for (key of columns(); track $index) {
        @if (isSortable(key)) {
          <th
            class="sortable"
            [class.primary]="isPrimary(key)"
            [class.secondary]="isSecondary(key)"
            (click)="sortBy(key)"
            >{{ key }}
            <app-arrow></app-arrow>
          </th>
        } @else {
          <th
            ><div>{{ key }}</div>
          </th>
        }
      }
    </tr>
  </thead>
  <tbody>
    @for (row of localData(); track $index) {
      <tr [appDynamicAttr]="{ name: attribute().key, value: row[attribute().fromCell] }">
        @for (key of columns(); track $index) {
          <td
            ><div>{{ row[key] }}</div></td
          >
        }
      </tr>
    }
  </tbody>
</table>
