:root {
  --table-border: #ddd;
  --table-font-size: 0.75rem;
  --table-th-font-size: 0.85rem;
}

table {
  width: 100%;
  border-collapse: collapse; /* Combine borders */
  font-size: var(--table-font-size);
}
table th {
  font-size: var(--table-th-font-size);
}
table th,
table td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--table-border);
}

/* sort */

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable app-arrow {
  visibility: hidden;
  margin-left: 4px;
}

th.sortable.secondary app-arrow {
  opacity: 0.4;
}

th.sortable:hover app-arrow,
th.sortable.primary app-arrow,
th.sortable.secondary app-arrow {
  visibility: visible;
}
