<table mat-table [dataSource]="tableData()" matSort class="mat-elevation-z8">
  <!-- Dynamic column definitions -->
  @for (col of tableColumns(); track col) {
    <ng-container [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ col }}
      </th>

      <td mat-cell *matCellDef="let row">
        {{ row[col] }}
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="tableColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns()"></tr>
</table>
