:host {
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 0 10px;
}

svg {
    flex: 1 1 100%;
}

.none {
    display: none;
}

.title {
    display: inline;
}

.title span {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem;
}

.list {
    stroke-width: 0.5;
}

.wall path {
    fill: #333333;
    stroke: white;
    stroke-width: 0.95;
}

.view path {
    stroke: #00b6ff; /* #00B6FF #00C0C3 */
    stroke-width: 0.55;
}

.line path {
    stroke: white;
    stroke-width: 0.5;
}

.dashed {
    stroke: #5b5b5b;
    stroke-width: 1;
    stroke-dasharray: 5 2;
}

text {
    fill: #c0c5ce;
    font-style: normal;
    font-size: 0.63rem;
    font-weight: 500;
}

text.title {
    font-size: 1rem;
    font-weight: 500;
}

.total text {
    transform: translateY(-0.35rem);
}

path.white {
    stroke: white;
    stroke-width: 1.5;
}

path.blue {
    stroke: #011efe;
    stroke-width: 1.5;
}

path.green,
g.green path {
    stroke: #00ff00;
    stroke-width: 1.5;
}

/*  ---------- layers -------------------- */

.white {
    color: white;
}

.blue {
    color: #011efe;
}

.green {
    color: #00ff00;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.buttons > div {
    width: 40px;
    height: 40px;
    margin: 10px;

    aspect-ratio: 1;
    border: 1.6px solid currentColor;
    border-radius: 50%;
    background: none;

    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons > div.active {
    background-color: currentColor;
    box-shadow: 0 0 2px darkslategray;
}
