:root {
  --table-font-size: 0.75rem;
  --table-th-font-size: 0.85rem;
}

main {
  height: auto;
  min-height: 100vh;
  min-height: 100dvh;
}

app-garden h2 {
  margin: 0 0 25px 0;
}

app-garden {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  margin: 25px;
}

json-table {
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

json-table td,
json-table th {
  min-width: 3.3rem;
}

json-table td:nth-of-type(15) > div {
  max-height: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

json-table td:nth-of-type(-n + 4),
json-table th:nth-of-type(-n + 4) {
  min-width: 12rem;
}

json-table td:nth-of-type(n + 13),
json-table th:nth-of-type(n + 13) {
  min-width: auto;
}

json-table th {
  font-size: 0.85rem;
}

json-table td:nth-of-type(n + 6) {
  font-size: 0.7rem;
}

json-table td:last-child,
json-table th:last-child {
  display: none;
}

/* Flags */

json-table tr[flag='1'] td:nth-child(3) {
  font-weight: bolder;
  color: #517cc6;
}

json-table tr[flag='0'] td:nth-child(3) {
  color: rgb(218, 107, 107);
}

json-table tr[flag='-1'] {
  opacity: 0.3;
}
