:root {
  --table-font-size: 0.75rem;
  --table-th-font-size: 0.85rem;
}

main {
  height: auto;
  min-height: 100vh;
  min-height: 100dvh;
}

app-garden h2 {
  margin: 0 0 25px 0;
}

app-garden {
  width: 100%;
  max-width: 100%;
  min-height: 0;
  overflow-x: auto;
  margin: 25px;
}

json-table td,
json-table th {
  min-width: 3.3rem;
}

json-table td:nth-child(n + 6):nth-child(-n + 14) > div,
json-table th:nth-child(n + 6):nth-child(-n + 14) > div {
  align-items: center;
}

/* scroll */

json-table td:nth-of-type(15) > div {
  max-height: 4.8rem;
  max-width: none;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: safe center;
}

json-table td:nth-of-type(-n + 4) > div,
json-table th:nth-of-type(-n + 4) > div,
json-table td:nth-of-type(15) > div {
  min-width: 11rem;
}

json-table td:nth-child(n + 6):nth-child(-n + 14) {
  font-size: 0.7rem;
}

json-table td:nth-of-type(n + 14),
json-table th:nth-of-type(n + 14) {
  min-width: 0;
  max-width: none;
}

json-table th {
  font-size: 0.85rem;
}

json-table td:last-child,
json-table th:last-child {
  display: none;
}

/* Flags */

json-table tr[flag='0'] td:nth-child(3) {
  color: inherit;
}

json-table tr[flag='1'] td:nth-child(3) {
  color: rgb(170, 154, 62);
}

json-table tr[flag]:not([flag='0']):not([flag='1']):not([flag='-1']) td:nth-child(3) {
  color: #517cc6;
}

json-table tr[flag='-1'] {
  opacity: 0.3;
}
