.footer {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    color: #999;
}

.footer__inner {
    display: flex;
    flex-basis: 60vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 450px) {
    .footer__inner {
        flex-direction: column;
    }
}
.footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: #999;
}
@media (max-width: 450px) {
    .footer__content {
        flex-direction: column;
        margin-top: 10px;
    }
}
.footer__content > *:not(:last-child) {
    border-right: 1px solid;
    padding: 0 15px;
}
@media (max-width: 450px) {
    .footer__content > *:not(:last-child) {
        border: none;
    }
}
.footer__content > *:last-child {
    padding: 0 15px;
}
