.content > svg {
    width: 100%;
    height: 100%;
}



.none {
    display: none;
}

.title {
    display: flex;
    flex-direction: column;
}

.title span {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
}

.list {
    stroke-width: 0.5;
}

.wall path {
    fill: #333333;
    stroke: white;
    stroke-width: 0.95;
}

.view path {
    stroke: #00B6FF; /* #00B6FF #00C0C3 */ 
    stroke-width: 0.55;
}

.line path {
    stroke: white;
    stroke-width: 0.5;
}

.dashed {
    stroke: #5B5B5B;
    stroke-width: 1;
    stroke-dasharray: 5 2;
}

text {
    fill: #c0c5ce;
    font-style: normal;
    font-size: 0.63rem;
    font-weight: 500;
}

.total text {
    transform: translateY(-0.35rem);
}

path.zp {
    stroke: #011efe;
    stroke-width: 1.5;
}

path.in {
    stroke: magenta;
    stroke-width: 1.5;
}

path.gr {
    stroke: #00ff00;
    stroke-width: 1.5;
}

path.white {
    stroke: white;
    stroke-width: 1.5;
}

/*  ---------- layers -------------------- */

.buttons circle {
    stroke: currentColor;
    stroke-width: 1.5;
    cursor: pointer;
}

.white {
    color: white;
}

.gr {
    color: #00ff00;
}

.zp {
    color: #011efe;
}

.buttons circle:active,
.buttons circle.active,
.buttons circle:hover {
   fill: currentColor;
}