<div class="container">
    <h2>List of my projects</h2>
    <div class="table-scrollable">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Technologies</th>
                    <th>Code</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                @for (project of projects | async; track $index) {
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.technologies }}</td>
                    <td>
                        <a href="{{ project.source }}" target="_blank">github</a>
                    </td>
                    <td>
                        @if (project.page.startsWith("/")) {
                        <a routerLink="{{ project.page }}">{{ project.page }}</a>
                        }@else {
                        <a href="{{ project.page }}" target="_blank">{{ removeHttps(project.page) }}</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
