.table-scrollable {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
    min-height: 50vh;
}
table {
    width: 100% !important;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
}
table th,
table td {
    text-align: left;
    padding: 0.2rem 3rem 0.2rem 0;
}

table th {
    color: #66545e;
}
