h2 {
    display: block;
}
.table-scrollable {
    overflow-y: auto;
    margin: 0 0 1em;
    width: 100%;
}
table {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px !important;
}
table th,
table td {
    text-align: left;
    padding: 0.2rem 3rem 0.2rem 0;
}

table th {
    color: #66545e;
}
