:host {
    text-align: center;
}

.pdf {
    width: 100%;
    height: auto;
    min-height: 0;
    aspect-ratio: 594 / 841;
    margin: 0px auto !important;
    padding: 5px 10vw;
}

p > a {
    color: #21759b;
    font-weight: 700;
}
