<div class="tabs">
  <a href="#" (click)="selectTab(true)" [ngClass]="{ active: isList }">List</a>
  <a href="#" (click)="selectTab(false)" [ngClass]="{ active: !isList }"
    >Certificates</a
  >
</div>
@if (isList) {
<object
  class="pdf"
  data="/assets/pdf/certificates_list.pdf?#zoom=100"
  type="application/pdf"
>
  <p>
    You don't have a PDF plugin, but you can
    <a href="/assets/pdf/certificates_list.pdf">download the PDF file.</a>
  </p>
</object>
} @else {
<object
  class="pdf"
  data="/assets/pdf/certificates.pdf?#view=fit"
  type="application/pdf"
>
  <p>
    You don't have a PDF plugin, but you can
    <a href="/assets/pdf/certificates.pdf">download the PDF file.</a>
  </p>
</object>
}
